@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: larger;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
  font-weight: 600;
  margin-block-end: 0.5em;
  padding: 0;
}

main {
	display: flex;
	flex-flow: column;
}

.container {
	display: flex;
  align-items: center;
	justify-content: space-evenly;
}

.cardapio {
  border-radius: 2em;
  inline-size: 40vw;
  overflow: auto;
  padding: 2em;
}

.cabecalho {
  display: flex;
  justify-content: center;
  padding-block: 0.5em;
  padding-inline: 1em;
}

.cronometro {
	background-color: #fbf6f7;
  background-image: linear-gradient(to bottom, #fbf6f7, #fff);
  border-radius: 2em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
	overflow: auto;
	padding: 2em;
}

.form {
  display: grid;
  gap: 2em;
}

.itens {
  display: grid;
  gap: 0.5em;
}

.item {
  align-items: center;
  background-color: #fefdfe;
  border-radius: 1em;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.0625);
  display: flex;
  padding: 0.6em;
	justify-content: space-between;
}

.item-product input {
	margin-right: 15px;
}

.item-price {
	font-size: 0.85em;
	letter-spacing: 1px;
	font-weight: 500;
	color: grey;
}


/* clock container */
.clock-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border-radius: 3px;
	box-shadow: none;
}

.clock-column {
	margin-right: 7rem;
	text-align: center;
	position: relative;
	&::after {
		content: ':';
		display: block;
		height: .25rem;
		width: .25rem;
		font-size: 36px;
		font-weight: 200;
		color: #131313;
		position: absolute;
		top: 60px;
		right: -35px;
	}
	&:last-child {
		&::after {
			display: none;
		}
	}
}

.clock-column:last-child {
	margin-right: 0;
}

.clock-label {
	padding-top: 10px;
	text-transform: uppercase;
	color: #131313;
	font-size: 24px;
	text-align: center;
	border-top: 1px solid rgba(19, 19, 19, 0.5);
}

.clock-timer {
	color: #131313;
	font-size: 66px;
	line-height: 1;
}