@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin&family=Silkscreen&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root {
	--darkColor: #120d14;
	--weirdGradientColor: rgb(28,28,52);
	--weirdGradient: linear-gradient(149deg, rgba(28,28,52,1) 15%, rgba(18,13,20,1) 93%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.dark {
	background-color: var(--darkColor);
}

body {
	font-family: 'Kanit', sans-serif;
	font-size: 20px;
}

.realBody {
	height: 90vh;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

main {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

button {
	min-width: 180px;
	height: 40px;
	color: #000;
	padding: 5px 10px;
	font-weight: bold;
	font-size: 1em;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	border: none;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
	background: #ffd819;
	margin-bottom: 15px;
}

.dark button {
	background-color: var(--weirdGradientColor);
	color: white;
	-webkit-box-shadow: 0px 5px 67px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 67px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 67px -1px rgba(0,0,0,0.75);
}

button:hover:after {
	width: 100%;
	left: 0;
}

button:after {
	border-radius: 5px;
	position: absolute;
	content: "";
	width: 0;
	height: 100%;
	top: 0;
	z-index: -1;
	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
	transition: all 0.3s ease;
	background-color: #ffe566;
	right: 0;
}

button:active {
	top: 2px;
}

footer {
	align-items: center;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	overflow: hidden;
	width: 100vw;
	height: 10vh;
}

.dark footer {
	background-color: var(--darkColor);
	color: white;
}

footer a {
	text-decoration: none;
	margin-right: 10px;
}

.light footer a {
	color: black;
}

.dark footer a {
	color: white;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	min-height: 17.5vh;
}

.dark header {
	color: white;
}

header h3 {
	font-size: 2em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-align: center;
}

header p {
	font-size: 1.5em;
}

.container {
	display: flex;
	flex-flow: row wrap;
  align-items: flex-start;
	justify-content: space-evenly;
}

.dark .container {
	background-color: var(--darkColor);
}

.cardapio {
	min-width: 45vw;
  overflow: none;
	padding-bottom: 10vh;
}

.form {
  display: grid;
  gap: 2em;
}

.rodape {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.itens {
  display: grid;
  gap: 0.5em;
}

.item {
  align-items: center;
	background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
	border-radius: 1em;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.0625);
  display: flex;
  padding: 0.6em;
	justify-content: space-between;
}

.dark .item {
	background: rgb(28,28,52);
	background: linear-gradient(90deg, rgba(28,28,52,1) 43%, rgba(24,24,50,1) 100%); 
	color: white;
	-webkit-box-shadow: 0px 5px 94px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 94px -13px rgba(0,0,0,0.75);
box-shadow: 0px 5px 94px -13px rgba(0,0,0,0.75);
}

.itemLucas {
  align-items: center;
	background-image: linear-gradient(62deg, #f77c6a 0%, #f1ae9e 100%);
	border-radius: 1em;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.0625);
  display: flex;
  padding: 0.6em;
	justify-content: space-between;
}

.dark .itemLucas {
	background: rgb(46,46,85);
	background: linear-gradient(90deg, rgba(46,46,85,1) 43%, rgba(50,50,106,1) 100%); 
	color: white;
	-webkit-box-shadow: 0px 5px 94px -13px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 94px -13px rgba(0,0,0,0.75);
box-shadow: 0px 5px 94px -13px rgba(0,0,0,0.75);
}

.item-product input {
	margin-right: 15px;
}

.item-price {
	font-size: 0.85em;
	letter-spacing: 1px;
	text-shadow: 1px 1px #ccc
}

.dark .item-price {
	text-shadow: none;
}

.container-col {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
}

.cabecalho {
  display: flex;
  justify-content: center;
  padding-block: 0.5em;
  padding-inline: 1em;
}

.cronometro {
	display: flex;
	justify-content: center;
	max-height: 50vh;
	background: rgb(241,247,10);
	background: linear-gradient(147deg, rgba(241,247,10,1) 34%, rgba(235,191,10,1) 68%);
  border-radius: 2em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
	overflow: auto;
	padding: 2em;
}

.dark .cronometro {
	background: var(--weirdGradientColor);
	-webkit-box-shadow: 0px 5px 67px -23px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 67px -23px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 67px -23px rgba(0,0,0,0.75);
}

.clock-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	box-shadow: none;
}

.clock-column {
	margin-right: 5rem;
	text-align: center;
	position: relative;
}

.clock-column:last-child::after {
	display: none;
}

.clock-column:last-child {
	margin-right: 0;
}

.clock-label {
	border-top: 1px solid rgba(19, 19, 19, 0.5);
	color: #131313;
	font-size: 24px;
	padding-top: 10px;
	text-align: center;
	text-transform: uppercase;
}

.dark .clock-label {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	color:rgba(255, 255, 255, 0.8)
}

.clock-timer {
	font-size: 72px;
	line-height: 2;
}

.dark .clock-timer {
	color: white;
}

.quotainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	min-height: 12vh;
}

.quotainer button {
	min-width: 100px;
	height: 30px;
	font-size: 15px;
	margin: 5px 10px;
	box-shadow: 2px 2px #ccc;
}

.dark .quotainer button {
	box-shadow: none;
	-webkit-box-shadow: 0px 5px 67px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 67px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 67px -1px rgba(0,0,0,0.75);
}

.tech {
	font-family: 'M PLUS Code Latin', sans-serif;
}

blockquote {
	font-weight: 100;
	font-size: 2rem;
	line-height: 1.4;
	position: relative;
	margin: 0;
	padding: .5rem;
	animation: fadeIn 7s;
  -webkit-animation: fadeIn 7s;
  -moz-animation: fadeIn 7s;
  -o-animation: fadeIn 7s;
  -ms-animation: fadeIn 7s;
}

blockquote:before,
blockquote:after {
	position: absolute;
	color: #f1efe6;
	font-size: 8rem;
	height: 4rem;
}

blockquote:before {
	content: '“';
	left: -5rem;
	top: -2rem;
}

blockquote:after {
	content: '”';
	right: -5rem;
	bottom: 1rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.switch {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 34px;
 }
 
 .switch input {
	display: none;
 }
 
 .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #3C3C3C;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
 }
 
 .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
 }
 
 input:checked + .slider {
	background-color: #0E6EB8;
 }
 
 input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
 }
 
 input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(85px);
 }
 
 /*------ ADDED CSS ---------*/
 .slider:after {
	content: 'darkmode';
	color: white;
	display: block;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left: 50%;
	font-size: 10px;
	font-family: Verdana, sans-serif;
 }
 
 input:checked + .slider:after {
	content: 'lightmode';
 }

 .sendmail {
	color: darkgoldenrod;
 }

 .sendit {
	margin-right: 30px;
 }

 .agradecimentos {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	margin: 10px 0;
	color: var(--darkColor);
}

.dark .agradecimentos {
	color: white;
}

 .agradecimentos ul, li {
	animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
	list-style-type: none;
	text-align: left;
 }

 .agradecimentos ul, li, h2 {
	color: inherit;
 }
 
 /*--------- END --------*/