@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: larger;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

legend {
  font-weight: 600;
  margin-block-end: 0.5em;
  padding: 0;
}

main {
	display: flex;
	flex-flow: column;
}

.css-button-shadow-border-sliding--yellow {
  min-width: 180px;
  height: 40px;
  color: #000;
  padding: 5px 10px;
  font-weight: bold;
	font-size: 1em;
	cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  background: #ffd819;
 z-index: 1;
}
.css-button-shadow-border-sliding--yellow:hover:after {
  width: 100%;
  left: 0;
}
.css-button-shadow-border-sliding--yellow:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
  background-color: #ffe566;
  right: 0;
}
.css-button-shadow-border-sliding--yellow:active {
  top: 2px;
}

.container {
	display: flex;
  align-items: center;
	justify-content: space-evenly;
}

.cardapio {
  border-radius: 2em;
  inline-size: 40vw;
  overflow: auto;
  padding: 2em;
}

.cabecalho {
  display: flex;
  justify-content: center;
  padding-block: 0.5em;
  padding-inline: 1em;
}

.cronometro {
	background: rgb(241,247,10);
	background: linear-gradient(147deg, rgba(241,247,10,1) 34%, rgba(235,191,10,1) 68%);
  border-radius: 2em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
	overflow: auto;
	padding: 2em;
}

.form {
  display: grid;
  gap: 2em;
}

.rodape {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.itens {
  display: grid;
  gap: 0.5em;
}

.item {
  align-items: center;
	background-color: #FBAB7E;
	background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
	border-radius: 1em;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.0625);
  display: flex;
  padding: 0.6em;
	justify-content: space-between;
}

.item-product input {
	margin-right: 15px;
}

.item-price {
	font-size: 0.85em;
	letter-spacing: 1px;
	text-shadow: 1px 1px red;
}

/* clock container */
.clock-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border-radius: 3px;
	box-shadow: none;
}

.clock-column {
	margin-right: 7rem;
	text-align: center;
	position: relative;
	&::after {
		content: ':';
		display: block;
		height: .25rem;
		width: .25rem;
		font-size: 36px;
		font-weight: 200;
		color: #131313;
		position: absolute;
		top: 60px;
		right: -35px;
	}
	&:last-child {
		&::after {
			display: none;
		}
	}
}

.clock-column:last-child {
	margin-right: 0;
}

.clock-label {
	padding-top: 10px;
	text-transform: uppercase;
	color: #131313;
	font-size: 24px;
	text-align: center;
	border-top: 1px solid rgba(19, 19, 19, 0.5);
}

.clock-timer {
	color: #131313;
	font-size: 66px;
	line-height: 1;
}